section#form-contact
  section#form-contact
    .row
      .large-12
        h2  Sign up for Tapcentive
        p   To help you get up and running with Tapcentive, 
          br 
          | fill out this form so we can follow up with the next steps.
    .row
      .large-12
        // - this is where we start responsive, shared content
        ng-include(src="'shared/contact.html'")