.clearfix
.footer_area
  section
    .row
      .large-12.columns.text-center
        img(src='./img/press_strip_1.png')
        .press_strip
          a(href='http://www.internetretailer.com/2014/10/23/store-mobile-commerce-system-lures-shoppers-beacons', target='_self')
            img(src='./img/press_strip_2.png')
          a(href='http://venturebeat.com/2014/09/08/tapcentive-launches-tap-for-reward-brick-and-mortar-mobile-marketing-platform/', target='_self')
            img(src='./img/press_strip_3.png')
          a(href='http://www.bizreport.com/2014/11/retailers-how-nfc-options-strengthen-your-footprint.html', target='_self')
            img(src='./img/press_strip_4.png')
          a(href='http://www.entrepreneur.com/article/239658')
            img(src='./img/press_strip_5.png', target='_self')
          a(href='http://nfc-forum.org/newsroom/nfc-forum-launches-nfc-developer-program/', target='_self')
            img(src='./img/press_strip_6.png')
  section
    .tap-footer-bottom
      .row.footer_links 
        .large-12.columns.text-center
          ul.tap-links
            li
              a(href='index.html#/about#top') About
            li
              a(href='index.html#/blog#top') Blog
            li
              a(href='index.html#/contact#top') Contact
            li
              a(href='index.html#/about#team') Team
          p.copyright(style='margin-left:10px;') 2014 Tapcentive, Inc. All rights reserved.
