ion-view.homepage-hero
  ion-content(padding='true', scroll='true')
    ion-slide-box
      ion-slide
        div.mobile-heros
          h1 In-location
            br
            | Mobile
            br
            strong Just Got Real
          h3 Mobile campaigns that start
            br
            | with a Tap and end with results.
            br
            a(href='index.html#/how', style='padding-top: 40px;') How it Works
          img(src='./img/hero_hand_mobile@2x.png', style='margin-top: 0%;')
      ion-slide
        div.mobile-heros
          h1 Pre-built 
            br
            | Incentives
            br
            strong Out of the Box 
          h3
            a(href='index.html#/beacon-ble-nfc-mobile-api-sdk', style='padding-top: 40px;') About the Mobile SDK
          img(src='./img/box-phone-alt@2x.png', style='margin-top: 0%;')
      ion-slide
        div.mobile-heros
          h1 Visible 
            strong Engagement
            | &nbsp; Touchpoints
          h3
            a(href='index.html#/beacon-ble-nfc-connected-touchpoint', style='padding-top: 40px;') About our Touchpoints
          img(src='./img/box-ctp_mobile@2x.png', style='margin-top: 10%;')
      ion-slide
        div.mobile-heros
          h1 Remotely
            br
            | Manage it All
            br
            strong  From the Cloud
          h3
            a(href='index.html#/tapcentive-beacon-nfc-cloud-manager', style='padding-top: 20px;') About the Manager
          img(src='./img/box-manager@2x.png', style='position: relative; right: -10%;')
