style.
    .tabs {
      background-color:#000 !important;
      border:0px solid black !important;
      }
      .tabs-positive > .tabs, .tabs.tabs-positive {
      background-image:none !important;
      }
      .title {
      color:#202b39 !important;
      line-height:2.8em !important;
      }
      h1 {
      line-height:1.1em !important;
      text-align:center !important;
      letter-spacing: -1px !important;
      }
      h3 {
      text-align:center !important;
      font-size:1.2em !important;
      line-height: 20px;
      }
      .dot {
      display:block;
      position:relative;
      left:45%;
      padding-top:20px;
      padding-bottom:20px;
      }

ion-view.homepage-hero(title='How it Works', style='background-color:#efefef')
  ion-content(padding='true', scroll='true', style='text-align:center;')
    h1(style='font-size:2.2em !important')
      | Marketing 
      br
      | that 
      strong Moves People
    h2(style='font-size:1.2em !important;letter-spacing:0px;')
      | Tapcentive is an end-to-end platform for engaging your customers,
      | influencing their behavior and increasing your revenues.
    img(src='./img/inf_1@2x.jpg')
    h3(style='font-size:1.8em;') Integrate our SDK once
    img.dot(src='./img/inf_dot@2x.jpg')
    img(src='./img/ctp_mobile.jpg')
    h3(style='font-size:1.8em;')
      | Deploy NFC/BLE wherever
      | you want engagement
    img.dot(src='./img/inf_dot@2x.jpg')
    img(src='./img/inf_3@2x.jpg')
    h3(style='font-size:1.8em;')
      | Create sophisticated
      | promotions online
    img.dot(src='./img/inf_dot@2x.jpg')
    img(src='./img/inf_4@2x.jpg')
    h3(style='font-size:1.8em;') Guide customers and keep them engaged
    img.dot(src='./img/inf_dot@2x.jpg')
    img(src='./img/inf_5@2x.jpg')
    h3(style='font-size:1.8em;') Track. Measure. Learn.
    br
    br
