ion-side-menus
  ion-pane(ion-side-menu-content)
    header.bar.bar-header
      button.button.button-icon(ng-click='sideMenuController.toggleLeft()')
        i.icon.ion-navicon

      ion-nav-buttons(side="left")
        ion-nav-back-button.button-clear
          i.icon.ion-ios7-arrow-back
          | Back

      h1.title Tapcentive

    ion-nav-view(name='menuContent' animation='slide-left-right')

  ion-side-menu(side='left')

    header.bar.bar-stable
      h1.title Menu

    ion-content.has-header
      .list
        a.item(menu-close href='#/home')
          | Home

        a.item(menu-close href='#/how')
          | How it Works

        a.item(menu-close href='#/beacon-ble-nfc-mobile-api-sdk')
          | Mobile SDK

        a.item(menu-close href='#/beacon-ble-nfc-connected-touchpoint')
          | Touchpoints

        a.item(menu-close href='#/tapcentive-beacon-nfc-cloud-manager')
          | Cloud Manager

        a.item(menu-close href='#/about')
          | About

        a.item(menu-close href='#/contact')
          | Contact
