ion-view.homepage-hero
  ion-content(padding='true', scroll='true')
    ion-slide-box
      ion-slide
        .mobile-home-heros
          h1 Pre-built 
            br 
            | Incentives
            br
            strong Out of the Box
          img(src='./img/box-phone-alt@2x.png')
      ion-slide
        .mobile-home-heros
          h2(style='text-align:center;') Mobile SDK Summary
            img(src='./img/phone-callouts@2x.png', style='margin-top:5%;margin-left:0%', width='100%')
            h3
              ul(style='text-align:left;list-style:disc;margin-left:10%')
                h5(style='margin-left:-5%;padding-top:10%;')
                  strong With the Mobile SDK, you can:
                li  Integrate your app quickly and seamlessly
                li  Deliver fun and immersive mobile experiences
                li  Customize look and feel of app pages
                li  Receive real-time tap and location events
                li  Link your customer records to tap data
      ion-slide
        h2(style='text-align:center;') Integrate our SDK in your iOS &amp; Android app
          .large-4.columns.text-cenetered
            img(src='./img/sdk_screen@2x.png')

      ion-slide
        h2(style='text-align:center;')
            strong Kick-ass
            |  brandable templates
          .large-4.columns.text-cenetered
            img(src='./img/mobile-graphic2.jpg')



